.toggle-switch {
  position: relative;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.toggle-switch__checkbox {
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.toggle-switch__circle {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 50%;
  transition: transform 0.2s ease;
  z-index: 1;
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  transform: translateX(28px);
}

.toggle-switch__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  z-index: 2;
  user-select: none;
}

.toggle-switch__text_F {
  left: 9px;
  color: #fff;
}

.toggle-switch__text_C {
  right: 9px;
  color: #7e7e7e;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: #7e7e7e;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: #fff;
}